import init.bq.usb.rc
import init.bq.device.rc

on boot
    # Double Tap to Wake
    chown root system /sys/android_touch/wakeup_gesture_enable
    chmod 0660 /sys/android_touch/wakeup_gesture_enable

    # Vibrator intensity modifier
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/timed_output/vibrator/wf_s0
    chown system system /sys/class/timed_output/vibrator/wf_s1
    chown system system /sys/class/timed_output/vibrator/wf_s2
    chown system system /sys/class/timed_output/vibrator/wf_s3
    chown system system /sys/class/timed_output/vibrator/wf_s4
    chown system system /sys/class/timed_output/vibrator/wf_s5
    chown system system /sys/class/timed_output/vibrator/wf_s6
    chown system system /sys/class/timed_output/vibrator/wf_s7
    chown system system /sys/class/timed_output/vibrator/wf_update_now

    # Button backlight permissions
    chown system system /sys/class/leds/button-backlight/brightness
    chmod 660 /sys/class/leds/button-backlight/brightness

    # RGB lights
    chmod 660 /sys/class/leds/red/blink
    chmod 660 /sys/class/leds/green/blink
    chmod 660 /sys/class/leds/blue/blink

    chmod 660 /sys/class/leds/red/led_time
    chmod 660 /sys/class/leds/green/led_time
    chmod 660 /sys/class/leds/blue/led_time

    chmod 660 /sys/class/leds/red/brightness
    chmod 660 /sys/class/leds/green/brightness
    chmod 660 /sys/class/leds/blue/brightness

on post-fs-data
service diag_mdlog /system/vendor/bin/diag_mdlog
    user root
    disable
    oneshot

service stop_diag_mdlog /system/vendor/bin/diag_mdlog -k
    user root
    disable
    oneshot

on property:persist.qxdm.enable=1
    start diag_mdlog

on property:persist.qxdm.enable=0
    start stop_diag_mdlog

on property:persist.wlan.cnss_diag=1
   start cnss_diag

on property:persist.wlan.cnss_diag=0
   stop cnss_diag
